.setting-left-tabs{
  padding: 20px 4px;
  nav{
    font-size: 14px;
    a{
      color: #333;
      display: block;
      padding: 4px 12px;
      &.active{
        background: #e7e4d6;
      }
    }
  }
}
.setting-right-part{
  padding: 24px;
  margin: 0 auto;
}

.header-info{
  border: 1px solid #dedede;
  margin-bottom: 12px;
  border-radius: 4px;
}
