
#bridge{
  display: none !important;
  width: 1px;
  overflow: hidden;
}

svg{
  max-width: 100%;
  vertical-align: sub;
  margin-right: 4px;
}


.keyboard{
  border: 1px solid #e1e4e8;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 0px 0px #adadad;
  color: #404040;
}
.empty-tip{
  text-align: center;
  font-size: 14px;
  padding: 32px;
  color: #333;
  line-height: 2em;
  .search-keyword{
    background: #fff9c0;
    border-bottom: 2px solid #fddf06;
  }
}
.tabs{
  position: fixed;
  z-index: 0;
  left: 90px;
  top: 40px;
  max-height: 80vh;
  .tab-item{
    line-height: 20px;
    background: #e2e2e2;
    font-weight: 500;
    position: relative;
    margin: 4px 0px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: transform 0.3s ease-out;
    cursor: pointer;
    width: 100px;
    padding: 0 4px;
    border-radius: 6px 0 0 6px;
    cursor: pointer;
    &:hover{
      transform: translateX(-12px);
    }
    &.active{
      //transform: translateY(-7px);
      transform: translateX(-34px);
      background: rgb(249, 233, 203);

      //box-shadow: -1px -1px 0px 1px #fddf06;
      /* background: beige; */
    }
    &.expand{
      display: block;
    }
    &.hide{
      animation: fade_out 1s forwards;
    }
    .count{
      color: #000;
      font-size: 12px;
    }
  }
  .page-items{
    border-top:1px solid;
  }
}
.notes-in-webpage{
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  //border-radius: 8px;
  font-size: 14px;
  //background-image: url("/img/bg.png");
  background-image: url("https://colors.ichuantong.cn/501227b370fe7f4d6e3b3b0993298eab.png");
  overflow: hidden;
  transition: all 0.5s ease-in-out;
  .split-line{
    flex-shrink: 0;
    width: 2px;
    background: #e9e8e4;
    //cursor: col-resize;
    position: relative;
    z-index: 1;
    display: block;
    box-sizing: border-box;
  }
  .selected-targets{
    height: 100%;
    z-index: 2;
    position: absolute;
    left: -3px;
    top: 0px;
    aside{
      cursor: pointer;
      position: absolute;
      top:0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #fff;
      border: 1px solid #e8e8e8;
      &:hover{
        .target-info{
          display:block;
        }
      }
      .target-info{
        display: none;
        width: 200px;
        left: -200px;
        position: absolute;
        background: #3e3e3e;
        color: #fff;
        font-size: 12px;
        padding: 4px;
        border-radius: 4px;
        white-space: pre-line;
        word-break: break-word;
      }
    }
  }
}
.pages,.notes{
  position: relative;
  .title{
    position:relative;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255,0.5);
    box-shadow: 0px 1px 1px 0px #dad9d9;
    .logo-title{
      background: #000;
      color: #fff;
      padding: 0 4px;
      transition: all 0.3s ease-out;
      text-decoration: none;
      white-space: nowrap;
      &:hover{
        box-shadow: 2px 2px 1px #fd2222;
      }
    }
  }
  .content{
    padding: 12px;
    max-height: calc(100vh - 68px);
    overflow: auto;
  }
  .search{
    margin-left: 5px;
    padding: 4px 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.3s ease-out;
    background: #fff;
    width: 48px;
    &:focus,&.active{
      position:absolute;
      top:0;
      left:0;
      margin:0;
      width: 100%;
      &+ .clean-search{
        display: block;
      }
    }
  }
  .clean-search{
    display: none;
    position: absolute;
    right: 12px;
    cursor: pointer;
  }
  .group-type{
    display: inline-block;
    background: #fff;
    padding: 0 4px;
    white-space: nowrap;
  }
  .align-icons{
    //background: #fff;
  }
}
.pages{
  box-sizing: border-box;
  flex-shrink: 0;
  border-right:none;
  max-height: 100vh;
  overflow: auto;
  .sort-icon{
    margin-left: 12px;
    cursor: pointer;
  }
}

.me-footer{
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  position: absolute;
  bottom: 12px;
  .footer-tips{
    font-size: 12px;
    color: #999;
    svg{
      vertical-align: sub;
    }
  }
}



@keyframes fade_out{
  0%{
    opacity: 1;
  }
  99%{
    opacity: 0;
  }
  100%{
    opacity: 0.2;
  }
}
@keyframes flipBook1 {
  0% {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(-160deg);
    -ms-transform: rotateY(-160deg);
    -o-transform: rotateY(-160deg);
    transform: rotateY(-160deg);
  }
}
