
.index-page{
  max-width: 800px;
  margin: 0 auto;

  .introduce{
    display: flex;
    padding: 12px;
    font-size: 14px;
    .left-bar{
      width: 180px;
      position: sticky;
      top: 30px;
      flex-shrink: 0;
      .key-title{
        margin-bottom: 16px;
        cursor: pointer;
        box-shadow: 1px 1px 3px 0px #999;
        border-radius: 4px;
        padding: 12px;
        &.active{
          border-right: 4px solid #FFEB3B;
        }
        &.install-p{
          background: #f7f48b;
        }
      }
      .key-point{
        //&.install{
        //  background: #f7f48b;
        //}
        //position: relative;
        //background-repeat: no-repeat;
        //background-image: linear-gradient(to top, #ffde5d 2px, #ffde5d 2px);
        //background-size: 100% calc(0.5em);
      }
    }
    .right-content{
      box-shadow: 1px 1px 5px 0px #e4e0e0;
      margin: 0 12px;
      padding: 12px 24px;
      border-radius: 4px;
      margin-left: 40px;
      .keys{
        min-height: 100px;
      }
      .key-content{
        position: relative;
        padding: 4px;
        margin-bottom: 14px;
        display: none;
        //border-bottom: 1px solid #d8d8d8;
        //filter: blur(4px);
        transition: all 1s ease-in-out;

        border-radius: 4px;
        &.active{
          display: block;
        }
        &:hover{
          //background: antiquewhite;
          box-shadow: 0px 0px 1px #000;
          //border: 1px solid #c5c5c5;
        }
        h3{
          margin: 0 0 1em 0;
          &:before{
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 4px;
            background: #FFC107;
            position: absolute;
            top: 10px;
            left: -10px;
          }
        }
      }
    }
  }


  section.points{
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    &.fl{
      background: #fff;
      //display: grid;
      //grid-template-columns: repeat(auto-fill, 50%);
    }
    &.sl{
      background: #f6f8fa;
    }
    .point{
      border-radius: 4px;
      background: antiquewhite;
      box-sizing: border-box;
      //display: flex;
      //justify-content: space-between;
      width: 300px;
      padding: 12px;
      //margin:0 auto;
      //align-items: center;
      &.main{
        background:#ff7575;
      }
      &.note{
        background: #ffd581;
      }
      &.manage{
        background: #8bc3f1;
      }
      img{
        width: 300px;
      }
      h2{
        font-size: 32px;
        color: #333;
        margin: 0.4em 0;
      }
      article{
        font-size: 14px;
        color: #333;
      }
      //.description{
      //  width: 300px;
      //  height: 200px;
      //  border: 1px dashed #999;
      //  border-radius: 4px;
      //}
    }
  }
  .install{
    padding: 12px;
    text-align: center;
    //background: #fbfafa;
    margin: 24px 0;
  }
  .glance-title{
    margin: 24px 0;
    font-size: 20px;
    text-align: center;
  }
}
