.donation{max-width:800px;margin:0 auto;font-size:14px;color:#333}.donation .light-me{position:relative}.donation .light-me:after{content:"";position:absolute;z-index:-1;top:60%;left:-0.1em;right:-0.1em;bottom:0;transition:top 200ms cubic-bezier(0, 0.8, 0.13, 1);background-color:#ffdd2e}.donation .light-me.green:after{background-color:rgba(79,192,141,0.5)}

