img{max-width:100%}.page-detail{position:relative;box-shadow:0px 0px 3px 1px #eae6e6;margin-bottom:12px;border-radius:2px;color:#333;background:rgba(255,255,255,0.9);padding:32px}.page-detail:hover .side-bar{display:block}.page-detail .side-bar{display:none;position:absolute;padding-left:2px;top:0;right:0;width:20px;min-height:100px}.page-detail .side-bar .delete-page-icon{cursor:pointer;border-radius:20px;border:1px solid #333;background:#fff}.page-detail .category{display:inline-block;position:relative;margin:0 24px;white-space:nowrap}.page-detail .date{display:inline-block}.page-detail .page-header{display:flex;justify-content:space-between;border:1px solid #efefef;border-radius:4px;margin-bottom:32px}.page-detail .page-header:hover .delete-page-icon{display:block}.page-detail .page-header .page-link{margin-bottom:24px;font-weight:500;white-space:pre-line;word-break:break-word}.page-detail .page-header .page-link a{font-size:12px;color:#268ebd;text-decoration:none}.page-detail .page-header .page-link a:hover{color:#337ab7;text-decoration:underline}.page-detail .page-header .meta-info{display:flex;font-size:12px;color:#999}.page-detail .page-header .page-header-meta{padding:6px 12px}.page-detail .page-header .page-img{position:relative;width:140px;max-height:200px;max-width:35%;box-sizing:border-box}.page-detail .page-header .page-img img{cursor:zoom-in;max-width:100%;max-height:100%;position:absolute;right:0}.page-detail .main-content{display:flex}.page-detail .main-content .left-content{display:none;margin-right:24px;width:29.41%;border-right:1px dashed #eee;padding-right:24px}.page-detail .main-content .right-content{width:100%}.page-detail .summary{padding:12px 0;border-top:1px dashed #eee}.page-detail .summary svg{vertical-align:top}.page-detail .summary textarea{background:transparent;display:block;width:100%;border:none;resize:none;font-size:12px}.page-detail .lights{margin-bottom:12px}.page-detail .lights .empty-lights{text-align:center;font-size:12px;color:#666}.page-detail .lights .light{margin-bottom:8px;border-radius:4px}.page-detail .lights .light:hover .refer .delete-icon{display:block}.page-detail .lights .light .refer{position:relative;word-break:break-word;color:#646a73;border-left:6px solid #bbbfc4;padding-left:12px;font-size:12px}.page-detail .lights .light .refer .delete-icon{display:none;position:absolute;left:-24px;cursor:pointer}.page-detail .lights .light .light-keyword{border-bottom:1px solid}.page-detail .lights .light .note{position:relative;font-size:14px;color:#333;padding-left:14px}.page-detail .lights .light .note:hover .edit-icon{display:block}.page-detail .lights .light .note .edit-icon{display:none;cursor:pointer}.page-detail .snapshots{display:flex}.page-detail .snapshots img{max-width:100%;max-height:100px;cursor:zoom-in}.page-detail .snapshots .snapshot{position:relative;transition:all 0.2s ease-in}.page-detail .snapshots .snapshot:hover{box-shadow:-1px -1px 6px 1px #dcdcdc}.page-detail .snapshots .snapshot:hover .snapshot-tips{display:block}.page-detail .snapshots .snapshot .snapshot-tips{display:none;width:30px;background-color:#fff;text-align:center;margin:0 auto;top:4px;right:4px;font-size:12px;box-shadow:0px 0px 4px 1px #efefef;border-radius:12px;position:absolute}.page-detail .snapshots .snapshot .snapshot-tips .delete-icon{margin:0;cursor:pointer}.page-detail .snapshots .snapshots-tip{font-size:12px;color:#999}.page-detail .note-content{padding:0 10px}.page-detail .note-icon{position:absolute;left:-6px}.page-detail .hide{display:none}.alike-module{margin-bottom:12px;border-radius:2px;background:#fff;padding:4px 12px 12px 12px}.alike-module .alike-item{margin-bottom:1em;font-size:12px;color:#333;cursor:pointer;overflow:hidden;text-overflow:ellipsis}.alike-module .alike-item .alike-item-link{color:#1e88e5}.alike-module .alike-item .alike-item-link:hover{color:#189cfd}.w-e-text-container{height:auto !important;border:1px solid #f5f5f5 !important}.ce-block__content{max-width:880px}.ce-block__content .light-head{padding-left:12px;margin-bottom:4px;border-left:4px solid}

._208OKi5sWQeyajNtIi6USb{display:none;position:absolute;right:0;border-color:#e1e4e8;box-shadow:0 8px 24px rgba(149,157,165,0.2);width:230px;margin-top:4px;margin-bottom:20px;overflow:hidden;font-size:12px;color:#586069;background-color:#fff;background-clip:padding-box;border:1px solid rgba(27,31,35,0.15);border-radius:6px}._208OKi5sWQeyajNtIi6USb._1z19Q6pbJ240-QBtXUbgwM{display:block;z-index:9}._208OKi5sWQeyajNtIi6USb ._3a4G2t2lp0BT1LfYXE1nb8{padding:8px 10px;line-height:16px;background:#fff;border-bottom:1px solid #e1e4e8}._208OKi5sWQeyajNtIi6USb ._3a4G2t2lp0BT1LfYXE1nb8 ._1P41WRKRJd5CWFO9L9u8bi{font-weight:600;color:#24292e}._208OKi5sWQeyajNtIi6USb ._3a4G2t2lp0BT1LfYXE1nb8 ._3za0O57XDKv5OldKEM5Bzd{position:absolute;right:4px;top:4px;cursor:pointer}._208OKi5sWQeyajNtIi6USb ._1SrpOtKyb4suxXTkyVt4C-{position:relative;padding:10px 10px 0;padding-bottom:10px;border-bottom:1px solid #dfe2e5}._208OKi5sWQeyajNtIi6USb ._1SrpOtKyb4suxXTkyVt4C- input{display:block;width:100%;max-width:100%;padding:5px 12px;border:1px solid #dfe2e5;border-radius:6px;box-sizing:border-box}._208OKi5sWQeyajNtIi6USb ._1SrpOtKyb4suxXTkyVt4C- ._6_LPIlFZWyG95hyKva81G{padding:0;position:absolute;right:0;top:14px;border:none;right:20px;color:#fff;padding:0 4px;background:#E91E63;border-radius:2px;border:1px solid #FFEB3B;z-index:1;cursor:pointer}._208OKi5sWQeyajNtIi6USb ._2QqhjwLfvFjBGHQ_6ql9_T{position:relative;max-height:400px;overflow:auto;color:#586069}._208OKi5sWQeyajNtIi6USb ._2QqhjwLfvFjBGHQ_6ql9_T .H1Ng8h8KAvItxw-8LCSj3{display:block;padding:8px 8px 8px 30px;overflow:hidden;color:inherit;cursor:pointer;border-bottom:1px solid #eaecef}._208OKi5sWQeyajNtIi6USb ._2QqhjwLfvFjBGHQ_6ql9_T .H1Ng8h8KAvItxw-8LCSj3:hover{background-color:#f4f4f4}._208OKi5sWQeyajNtIi6USb ._2QqhjwLfvFjBGHQ_6ql9_T .H1Ng8h8KAvItxw-8LCSj3 ._3_QKxo2uy0utbLBlJdZI6i{vertical-align:middle;float:left;margin-left:-20px}

.editor .ce-block__content{max-width:800px}.editor .codex-editor__redactor{padding-bottom:30px !important}

.category-label{display:inline-block}.category-label .category-title{display:inline-block;vertical-align:sub;cursor:pointer;line-height:1em;border:none;max-width:100%;white-space:normal;padding:0 !important}.category-label .category-title svg{vertical-align:text-bottom}.category-label .category-title .category-name{display:inline-block;max-width:100%;box-sizing:border-box;overflow:hidden;text-overflow:ellipsis;margin:2px;font-size:12px;border-radius:4px;background:#e6e6e6;padding:2px 12px;color:#666}.category-label .droplabel{display:none;width:180px;position:absolute;left:0;box-shadow:0 8px 24px rgba(149,157,165,0.2);margin-top:4px;margin-bottom:20px;overflow:hidden;font-size:12px;color:#586069;background-color:#fff;background-clip:padding-box;border-radius:6px}.category-label .droplabel.show{display:block;z-index:9}.category-label .droplabel .select-menu-header{padding:8px 10px;line-height:16px;background:#fff;border-bottom:1px solid #e1e4e8}.category-label .droplabel .select-menu-header .select-menu-title{font-weight:600;color:#24292e}.category-label .droplabel .select-menu-header .close-button{position:absolute;right:4px;top:4px;cursor:pointer}.category-label .droplabel .select-menu-text-filter{position:relative;padding:10px 10px 0;padding-bottom:10px;border-bottom:1px solid #dfe2e5}.category-label .droplabel .select-menu-text-filter input{display:block;width:100%;max-width:100%;padding:5px 12px;border:1px solid #dfe2e5;border-radius:6px;box-sizing:border-box;line-height:1em;font-size:12px}.category-label .droplabel .select-menu-text-filter .new-button{padding:0;position:absolute;right:0;top:14px;border:none;right:20px;color:#fff;padding:0 4px;background:#E91E63;border-radius:2px;border:1px solid #FFEB3B;z-index:1;cursor:pointer}.category-label .droplabel .select-menu-list{position:relative;max-height:400px;overflow:auto;color:#586069}.category-label .droplabel .select-menu-list .select-menu-item{display:block;padding:8px 8px 8px 30px;overflow:hidden;color:inherit;cursor:pointer;border-bottom:1px solid #eaecef}.category-label .droplabel .select-menu-list .select-menu-item:hover{background-color:#f4f4f4}.category-label .droplabel .select-menu-list .select-menu-item .select-menu-item-icon{vertical-align:middle;float:left;margin-left:-20px}

._3uSeHvCINV9H7G_sly2z73{display:inline-block;font-size:14px;color:#2d0d0d;font-weight:normal;cursor:pointer}._3uSeHvCINV9H7G_sly2z73 .N8MInFo05MOEE2WBOETmW{color:#337ab7}._3uSeHvCINV9H7G_sly2z73 ._2O6wPDWiKMQufYzJgyJztM{z-index:1;display:none;position:absolute;background:#fff;box-shadow:0px 0px 4px 3px #e8e8e8}._3uSeHvCINV9H7G_sly2z73 ._2O6wPDWiKMQufYzJgyJztM.FRxKJnvXshrmzJkUl5uIz{display:none !important}._3uSeHvCINV9H7G_sly2z73 ._2O6wPDWiKMQufYzJgyJztM ._3OEFxHPUO9RV8K5eh850tT{padding:4px 12px}._3uSeHvCINV9H7G_sly2z73 ._2O6wPDWiKMQufYzJgyJztM ._3OEFxHPUO9RV8K5eh850tT:hover{background:#f1f1f1}._3uSeHvCINV9H7G_sly2z73:hover ._2O6wPDWiKMQufYzJgyJztM{display:block}

.page-item{position:relative;padding:4px 8px;margin-bottom:4px;cursor:default;transition:all 0.3s ease-out;background-position:right;background-size:auto 40px;background-repeat:no-repeat;color:#2e3135;box-sizing:border-box}.page-item:last-child{margin-bottom:0}.page-item.active{border-left:1px solid #eaeaea;border-radius:6px;background-color:#f7f48b !important}.page-item.active .page-cliper{background:#faad14}.page-item.active .page-header{text-shadow:1px 0px 1px #fff}.page-item:hover{background:#f5f5f5;background-repeat:no-repeat}.page-item:hover .page-header{text-shadow:1px 0px 1px #fff}.page-item:hover .page-header .snapshot-button{opacity:1}.page-item:hover .page-header .page-link{display:block}.page-item .selected-icon{display:none;position:absolute;right:0;top:0}.page-item .page-cliper{width:8px;border-radius:50%;position:absolute;right:-18px;top:12px;height:8px}.page-item .page-header{position:relative;font-weight:500}.page-item .page-header .page-title{font-size:14px;max-width:90%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-repeat:no-repeat;background-size:14px 14px;background-position:left center}.page-item .page-header .page-title .page-icon{display:inline-block;width:16px;height:16px;vertical-align:middle;margin-right:4px}.page-item .page-header .page-link{display:none;font-size:13px;vertical-align:bottom;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#3e3e3e;position:absolute;right:0px;top:0}.page-item .page-header .page-link .link{color:#337ab7}.page-item .page-header .snapshot-button{opacity:0;position:relative;cursor:pointer;white-space:nowrap;font-size:12px;color:black;background:white}.page-item .page-header .snapshot-button span{position:relative;color:black;background:#fff;display:block;padding:0 2px;transform:translate(-2px, -2px);border:1px solid;transition:all 0.3s ease-out}.page-item .page-header .snapshot-button:hover span{transform:translate(0, 0)}.page-item .page-header .snapshot-button:before{content:'';box-sizing:border-box;width:100%;height:100%;background:#8837F3;display:block;position:absolute;left:0;top:0}.page-item .page-lights{font-size:12px}.page-item .page-lights .page-light{line-height:1em;margin-top:6px;padding-left:12px;border-left:4px solid;margin-left:20px;color:#afb2b5}

.action-tips{line-height:1.8em;margin:12px 0;padding-left:4px;font-size:12px;border-radius:4px}.action-tips .action-button{cursor:pointer;margin-right:12px}.action-tips .action-button:hover{border:1px solid #666}.aside-bar{width:200px;min-height:100vh;border-radius:12px;box-sizing:border-box;position:absolute;left:0px;background:#f3f3f3;padding:12px}

#bridge{display:none !important;width:1px;overflow:hidden}svg{max-width:100%;vertical-align:sub;margin-right:4px}.me{position:relative;margin:0 auto;font-size:14px;border-radius:12px;user-select:unset;box-sizing:border-box}.keyboard{border:1px solid #e1e4e8;background:#fff;border-radius:4px;box-shadow:1px 1px 0px 0px #adadad;color:#404040}.empty-tip{text-align:center;font-size:14px;padding:32px;color:#333;line-height:2em}.empty-tip .search-keyword{background:#fff9c0;border-bottom:2px solid #fddf06}.tabs{position:fixed;z-index:0;left:90px;top:40px;max-height:80vh}.tabs .tab-item{line-height:20px;background:#e2e2e2;font-weight:500;position:relative;margin:4px 0px;box-sizing:border-box;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;transition:transform 0.3s ease-out;cursor:pointer;width:100px;padding:0 4px;border-radius:6px 0 0 6px;cursor:pointer}.tabs .tab-item:hover{transform:translateX(-12px)}.tabs .tab-item.active{transform:translateX(-34px);background:#f9e9cb}.tabs .tab-item.expand{display:block}.tabs .tab-item.hide{animation:fade_out 1s forwards}.tabs .tab-item .count{color:#000;font-size:12px}.tabs .page-items{border-top:1px solid}.pages-and-detail{display:flex;box-sizing:border-box;min-height:99vh;position:relative;border-radius:12px;background-image:url("https://colors.ichuantong.cn/501227b370fe7f4d6e3b3b0993298eab.png");overflow:hidden;transition:all 0.5s ease-in-out}.pages-and-detail.expand{flex-wrap:wrap}.pages-and-detail .split-line{flex-shrink:0;width:2px;background:#fff;cursor:col-resize;position:relative;z-index:1;display:block;box-sizing:border-box}.pages-and-detail .split-line:hover{border:1px dashed red}.pages-and-detail .split-line:hover .left,.pages-and-detail .split-line:hover .right{display:block}.pages-and-detail .split-line .left,.pages-and-detail .split-line .right{display:none;color:#fff;background:#000;padding:0 4px;position:absolute;cursor:pointer}.pages-and-detail .split-line .left{top:0;right:0}.pages-and-detail .split-line .right{bottom:0;left:0}.pages,.notes{position:relative}.pages .title,.notes .title{position:relative;font-size:16px;font-weight:500;height:48px;box-sizing:border-box;padding:12px;display:flex;align-items:center;border-bottom:1px solid rgba(255,255,255,0.5);box-shadow:0px 1px 1px 0px #dad9d9}.pages .title .logo-title,.notes .title .logo-title{background:#000;color:#fff;padding:0 4px;transition:all 0.3s ease-out;text-decoration:none;white-space:nowrap}.pages .title .logo-title:hover,.notes .title .logo-title:hover{box-shadow:2px 2px 1px #fd2222}.pages .content,.notes .content{padding:12px;max-height:calc(100vh - 68px);overflow:auto}.pages .search,.notes .search{margin-left:5px;padding:4px 12px;box-sizing:border-box;border:none;border-radius:5px;outline:none;transition:0.3s ease-out;background:#fff;width:48px}.pages .search:focus,.pages .search.active,.notes .search:focus,.notes .search.active{position:absolute;top:0;left:0;margin:0;width:100%}.pages .search:focus+.clean-search,.pages .search.active+.clean-search,.notes .search:focus+.clean-search,.notes .search.active+.clean-search{display:block}.pages .clean-search,.notes .clean-search{display:none;position:absolute;right:12px;cursor:pointer}.pages .group-type,.notes .group-type{display:inline-block;background:#fff;padding:0 4px;white-space:nowrap}.pages{box-sizing:border-box;flex-shrink:0;border-right:none}.pages .page-group{display:flex;margin-bottom:24px}.pages .page-group .page-container{transition:all 0.3s ease-out;transform:translate(0, 0);width:100%;box-sizing:border-box}.pages .page-group .page-container .group-container{padding:4px 8px;margin-bottom:10px;background:#fff;border-radius:4px;box-sizing:border-box}.pages .page-group .page-container .group-container:last-child{margin-bottom:0}.pages .page-group .page-container .group-container.no-items{opacity:0.5}.pages .page-group .page-container .group-container .group-title{font-size:16px;color:#000;font-weight:500;position:sticky;top:0;background:#fff;z-index:1;padding:4px 8px 4px 0;cursor:pointer}.pages .page-group .page-container .group-container .group-title:hover{background:#fafafa}.pages .page-group .page-container .group-container .group-title .group-title-name{border-left:4px solid #52c41a;padding:0 4px 0 12px;border-radius:2px}.pages .page-group .page-container .group-container .group-title .group-title-name .group-breif{position:absolute;right:0}.pages .page-group .page-container .group-container .group-title .group-title-name .group-icon{cursor:pointer;transition:all 0.4s ease-in-out;vertical-align:middle;transform:rotate(90deg)}.pages .page-group .page-container .group-container .group-title .group-title-name .group-icon.collapse{transform:rotate(0deg)}.pages .page-group .page-container .group-container .group-title .group-info{font-size:12px;color:#999}.pages .page-group .page-container .group-container .group-items{box-sizing:border-box;transition:0.5s ease-out}.pages .page-group .page-container .group-container .group-name{position:absolute;top:-22px;left:-1px;display:inline-block;border:1px solid;border-bottom:none;line-height:20px;border-radius:4px 4px 0 0;padding:0 12px;font-weight:500}.pages .page-group .page-container .grid-group{display:flex;justify-content:space-between}.pages .page-group .page-container .grid-group .grid-group-col{width:32%;padding-right:10px;box-sizing:border-box}.pages .page-group .page-container .grid-group .page-cliper{display:none}.pages .sort-icon{margin-left:12px;cursor:pointer}.notes{position:relative;top:0;min-width:30%;flex-grow:1;flex-shrink:1;box-sizing:border-box;background-color:rgba(255,255,255,0.5)}.notes.ispopup{position:absolute;top:0;z-index:999;width:100% !important;background:rgba(0,0,0,0.5)}.notes .title{background:#fff;padding-left:24px}.notes .content{padding:12px 24px}.notes .empty-tip{border-radius:6px;background:#fff}.me-footer{display:flex;justify-content:space-between;margin-top:12px}.me-footer .footer-tips{font-size:12px;color:#999}.me-footer .footer-tips svg{vertical-align:sub}@media screen and (max-width: 720px){.pages-and-detail{flex-wrap:wrap}.pages,.notes{width:100% !important;margin-left:0;margin-bottom:24px}.pages .tab-item{width:calc(50% - 8px)}.pages .page-header{max-width:320px}}@keyframes fade_out{0%{opacity:1}99%{opacity:0}100%{opacity:0.2}}@keyframes flipBook1{0%{-webkit-transform:rotateY(0deg);-ms-transform:rotateY(0deg);-o-transform:rotateY(0deg);transform:rotateY(0deg)}100%{-webkit-transform:rotateY(-160deg);-ms-transform:rotateY(-160deg);-o-transform:rotateY(-160deg);transform:rotateY(-160deg)}}

.light-me{position:relative}.light-me:after{content:"";position:absolute;z-index:-1;top:60%;left:-0.1em;right:-0.1em;bottom:0;transition:top 200ms cubic-bezier(0, 0.8, 0.13, 1);background-color:#ffdd2e}.light-me.green:after{background-color:rgba(79,192,141,0.5)}*[data-tip]:after{z-index:-1;opacity:0;display:none;user-select:none;content:attr(data-tip);position:absolute;white-space:nowrap;font-size:12px !important;transform-origin:left;border-radius:3px;padding:3px 6px;background:#333;color:#fff;box-shadow:0 8px 12px 0 rgba(29,32,43,0.17),0 4px 5px -3px rgba(5,6,12,0.49),0 0px 1px 1px #e8e8e8;transition:all .18s ease-out .18s;top:-30px;left:0;transform:translateY(30px);text-shadow:none}*[data-position=bottom]:after{top:auto;bottom:-34px;left:0;transform:translateY(-20px)}*[data-tip]:hover::after{display:block;z-index:99999;animation:tool-in 0.4s ease-in-out forwards}

.page{background:#f3f3f3;padding:24px}.page .editor_container{position:relative;box-shadow:0px 0px 3px 1px #eae6e6;border-radius:2px;color:#333;background:rgba(255,255,255,0.9);padding:32px;max-width:900px;margin:0 auto}

.page .editor_container{min-height:80vh}

._1YAZff48U-TkX8LxkkgbNK{display:flex;justify-content:space-between;width:80px;height:40px;padding:15px 0;margin:0 auto;margin-top:100px}._1YAZff48U-TkX8LxkkgbNK span{display:inline-block;width:8px;height:100%;border-radius:4px;background:lightgreen;-webkit-animation:_1EnkSVVQIPvOS2mtjZ_TyL 1s ease infinite}@-webkit-keyframes _1EnkSVVQIPvOS2mtjZ_TyL{0%,100%{height:40px;background:lightgreen}50%{height:70px;margin:-15px 0;background:lightblue}}._1YAZff48U-TkX8LxkkgbNK span:nth-child(2){-webkit-animation-delay:0.2s}._1YAZff48U-TkX8LxkkgbNK span:nth-child(3){-webkit-animation-delay:0.4s}._1YAZff48U-TkX8LxkkgbNK span:nth-child(4){-webkit-animation-delay:0.6s}._1YAZff48U-TkX8LxkkgbNK span:nth-child(5){-webkit-animation-delay:0.8s}

.function-setting-form{background:#fff;padding:8px;border-radius:6px}.function-setting-form .label{display:inline-block;width:120px}.function-setting-form input,.function-setting-form textarea{width:200px;border:1px solid #666;margin-bottom:2px;vertical-align:middle}

.setting-page{max-width:800px;margin:0 auto}.setting-page .setting-part{margin:14px 0;position:relative;background:#f8f8f8;padding:12px;border-radius:4px}.setting-page .setting-part a{color:#066ec1}.setting-page .setting-part .tip{font-size:12px;color:#999}.setting-page .setting-part.pagenote{min-height:280px;position:relative;background:#f7f7f7}.setting-page .setting-part.pagenote .function-container{display:flex;justify-content:space-between}.setting-page .setting-part.pagenote .function-area{height:140px;position:relative;top:50px;margin-left:60px;padding-left:40px}.setting-page .setting-part.pagenote .function-custom{display:flex}.setting-page .setting-part.pagenote .function-custom .action-group{margin-right:12px}.setting-page .setting-part.pagenote .function-custom .action-group:hover{z-index:1}.setting-page .setting-part.pagenote .function-custom .action-group .function-item{position:relative;margin-bottom:8px;width:24px;height:24px;border-radius:50%;background-color:#fff;border:1px solid #eae8e8;box-shadow:0px 0px 1px 0px #f5f5f5;background-position:center;background-size:contain}.setting-page .setting-part.pagenote .function-custom .action-group .function-item:hover,.setting-page .setting-part.pagenote .function-custom .action-group .function-item.active{transform:scale(1.5)}.setting-page .setting-part.pagenote .function-custom .action-group .function-item:hover .delete,.setting-page .setting-part.pagenote .function-custom .action-group .function-item.active .delete{display:block}.setting-page .setting-part.pagenote .function-custom .action-group .function-item .delete{display:none;position:absolute;right:-12px;top:-4px}.setting-page .function-colors .color-item{position:absolute;width:20px;height:20px;font-size:14px;margin-right:4px;text-align:center;padding:4px;border-radius:20px;transition:all 0.4s ease-in-out;cursor:pointer}.setting-page .function-colors .color-item:first-child{z-index:1;top:0 !important;left:0 !important;transform:scale(1.5)}.setting-page .save-button{margin-right:12px}.setting-page .color-modal{display:none}.setting-page .color-modal.show{display:block;z-index:99;position:fixed;background:rgba(255,255,255,0.96);border-radius:4px;padding:12px;border:1px solid #d2d2d2}.setting-page .color-modal .setting-title{font-size:14px;font-weight:bold}.setting-page .color-modal .predefine-theme{font-size:14px;margin-top:12px}.setting-page .color-modal .predefine-theme .set-color-item{width:12px;height:12px;border-radius:2px;display:inline-block;margin:0 4px}.setting-page .color-modal .setting-item{padding:4px 0;border-bottom:1px solid #dedede}.setting-page .color-modal .setting-item .setting-label{color:#333;font-size:12px}.setting-page .color-modal .setting-item .color-show{display:inline-block;margin-right:4px;width:40px;height:1em;border:1px solid #000;vertical-align:text-bottom}.setting-page .color-modal .setting-item .tip{font-size:12px;color:#999}.setting-page .color-modal .setting-item input{width:34px}.setting-page .compact-picker{width:200px !important}.setting-page .flexbox-fix{display:none !important}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-modal,
.ant-image-preview {
  pointer-events: none;
}
.ant-modal.zoom-enter,
.ant-modal.zoom-appear,
.ant-image-preview.zoom-enter,
.ant-image-preview.zoom-appear {
  -webkit-transform: none;
          transform: none;
  opacity: 0;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ant-modal-mask,
.ant-image-preview-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  filter: alpha(opacity=50);
}
.ant-modal-mask-hidden,
.ant-image-preview-mask-hidden {
  display: none;
}
.ant-modal-wrap,
.ant-image-preview-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  outline: 0;
  -webkit-overflow-scrolling: touch;
}
.ant-collapse {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 2px;
}
.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid #d9d9d9;
}
.ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 0 0 2px 2px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  position: relative;
  padding: 12px 16px;
  padding-left: 40px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.5715;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header::before {
  display: table;
  content: '';
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header::after {
  display: table;
  clear: both;
  content: '';
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  left: 16px;
  display: inline-block;
  font-size: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow > * {
  line-height: 1;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg {
  display: inline-block;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow::before {
  display: none;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow-icon {
  display: block;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg {
  -webkit-transition: -webkit-transform 0.24s;
  transition: -webkit-transform 0.24s;
  transition: transform 0.24s;
  transition: transform 0.24s, -webkit-transform 0.24s;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
  float: right;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header:focus {
  outline: none;
}
.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
  padding-left: 12px;
}
.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  padding: 12px 16px;
  padding-right: 40px;
}
.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  right: 16px;
  left: auto;
}
.ant-collapse-anim-active {
  -webkit-transition: height 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: height 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ant-collapse-content {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  border-top: 1px solid #d9d9d9;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 16px;
}
.ant-collapse-content-inactive {
  display: none;
}
.ant-collapse-item:last-child > .ant-collapse-content {
  border-radius: 0 0 2px 2px;
}
.ant-collapse-borderless {
  background-color: #fafafa;
  border: 0;
}
.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 1px solid #d9d9d9;
}
.ant-collapse-borderless > .ant-collapse-item:last-child,
.ant-collapse-borderless > .ant-collapse-item:last-child .ant-collapse-header {
  border-radius: 0;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
  background-color: transparent;
  border-top: 0;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 4px;
}
.ant-collapse-ghost {
  background-color: transparent;
  border: 0;
}
.ant-collapse-ghost > .ant-collapse-item {
  border-bottom: 0;
}
.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content {
  background-color: transparent;
  border-top: 0;
}
.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 12px;
  padding-bottom: 12px;
}
.ant-collapse .ant-collapse-item-disabled > .ant-collapse-header,
.ant-collapse .ant-collapse-item-disabled > .ant-collapse-header > .arrow {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.ant-collapse-rtl {
  direction: rtl;
}
.ant-collapse-rtl .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 12px 16px;
  padding-right: 40px;
}
.ant-collapse-rtl.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.ant-collapse-rtl.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
  float: left;
}
.ant-collapse-rtl.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
  padding-right: 12px;
  padding-left: 0;
}

.more-icon{position:absolute;left:12px}.more-icon p{position:relative}

