.editor .ce-block__content{max-width:900px}.editor .codex-editor__redactor{padding-bottom:30px !important}

.page{background:#f3f3f3;padding:24px}.page .editor_container{position:relative;box-shadow:0px 0px 3px 1px #eae6e6;border-radius:2px;color:#333;background:rgba(255,255,255,0.9);padding:32px;max-width:900px;margin:0 auto}

