._1YAZff48U-TkX8LxkkgbNK{display:flex;justify-content:space-between;width:80px;height:40px;padding:15px 0;margin:0 auto;margin-top:100px}._1YAZff48U-TkX8LxkkgbNK span{display:inline-block;width:8px;height:100%;border-radius:4px;background:lightgreen;-webkit-animation:_1EnkSVVQIPvOS2mtjZ_TyL 1s ease infinite}@-webkit-keyframes _1EnkSVVQIPvOS2mtjZ_TyL{0%,100%{height:40px;background:lightgreen}50%{height:70px;margin:-15px 0;background:lightblue}}._1YAZff48U-TkX8LxkkgbNK span:nth-child(2){-webkit-animation-delay:0.2s}._1YAZff48U-TkX8LxkkgbNK span:nth-child(3){-webkit-animation-delay:0.4s}._1YAZff48U-TkX8LxkkgbNK span:nth-child(4){-webkit-animation-delay:0.6s}._1YAZff48U-TkX8LxkkgbNK span:nth-child(5){-webkit-animation-delay:0.8s}

.function-setting-form{background:#fff;padding:8px;border-radius:6px}.function-setting-form .label{display:inline-block;width:70px}.function-setting-form input,.function-setting-form textarea{width:200px;border:1px solid #666;margin-bottom:2px;vertical-align:middle}

.setting-page{max-width:800px;margin:0 auto}.setting-page .setting-part{margin:14px 0;position:relative;background:#f8f8f8;padding:12px;border-radius:4px}.setting-page .setting-part a{color:#066ec1}.setting-page .setting-part .tip{font-size:12px;color:#999}.setting-page .setting-part.pagenote{min-height:280px;position:relative;background:#f7f7f7}.setting-page .setting-part.pagenote .function-container{display:flex;justify-content:space-between}.setting-page .setting-part.pagenote .function-area{height:140px;position:relative;top:50px;margin-left:60px;padding-left:40px}.setting-page .setting-part.pagenote .function-custom{display:flex}.setting-page .setting-part.pagenote .function-custom .action-group{margin-right:12px}.setting-page .setting-part.pagenote .function-custom .action-group .function-item{position:relative;margin-bottom:8px;width:24px;height:24px;border-radius:50%;background-color:#fff;border:1px solid #eae8e8;box-shadow:0px 0px 1px 0px #f5f5f5;background-position:center;background-size:contain}.setting-page .setting-part.pagenote .function-custom .action-group .function-item:hover,.setting-page .setting-part.pagenote .function-custom .action-group .function-item.active{transform:scale(1.5)}.setting-page .setting-part.pagenote .function-custom .action-group .function-item:hover .delete,.setting-page .setting-part.pagenote .function-custom .action-group .function-item.active .delete{display:block}.setting-page .setting-part.pagenote .function-custom .action-group .function-item .delete{display:none;position:absolute;right:-12px;top:-4px}.setting-page .function-colors .color-item{position:absolute;width:20px;height:20px;font-size:14px;margin-right:4px;text-align:center;padding:4px;border-radius:20px;transition:all 0.4s ease-in-out;cursor:pointer}.setting-page .function-colors .color-item:first-child{z-index:1;top:0 !important;left:0 !important;transform:scale(1.5)}.setting-page .save-button{margin-right:12px}.setting-page .color-modal{display:none}.setting-page .color-modal.show{display:block;z-index:99;position:fixed;background:rgba(255,255,255,0.96);border-radius:4px;padding:12px;border:1px solid #d2d2d2}.setting-page .color-modal .setting-title{font-size:14px;font-weight:bold}.setting-page .color-modal .predefine-theme{font-size:14px;margin-top:12px}.setting-page .color-modal .predefine-theme .set-color-item{width:12px;height:12px;border-radius:2px;display:inline-block;margin:0 4px}.setting-page .color-modal .setting-item{padding:4px 0;border-bottom:1px solid #dedede}.setting-page .color-modal .setting-item .setting-label{color:#333;font-size:12px}.setting-page .color-modal .setting-item .color-show{display:inline-block;margin-right:4px;width:40px;height:1em;border:1px solid #000;vertical-align:text-bottom}.setting-page .color-modal .setting-item .tip{font-size:12px;color:#999}.setting-page .color-modal .setting-item input{width:34px}.setting-page .compact-picker{width:200px !important}.setting-page .flexbox-fix{display:none !important}

/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-modal,
.ant-image-preview {
  pointer-events: none;
}
.ant-modal.zoom-enter,
.ant-modal.zoom-appear,
.ant-image-preview.zoom-enter,
.ant-image-preview.zoom-appear {
  -webkit-transform: none;
          transform: none;
  opacity: 0;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.ant-modal-mask,
.ant-image-preview-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  filter: alpha(opacity=50);
}
.ant-modal-mask-hidden,
.ant-image-preview-mask-hidden {
  display: none;
}
.ant-modal-wrap,
.ant-image-preview-wrap {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  outline: 0;
  -webkit-overflow-scrolling: touch;
}
.ant-collapse {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  background-color: #fafafa;
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-radius: 2px;
}
.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid #d9d9d9;
}
.ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 0 0 2px 2px;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  position: relative;
  padding: 12px 16px;
  padding-left: 40px;
  color: rgba(0, 0, 0, 0.85);
  line-height: 1.5715;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header::before {
  display: table;
  content: '';
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header::after {
  display: table;
  clear: both;
  content: '';
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  left: 16px;
  display: inline-block;
  font-size: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow > * {
  line-height: 1;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg {
  display: inline-block;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow::before {
  display: none;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow-icon {
  display: block;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg {
  -webkit-transition: -webkit-transform 0.24s;
  transition: -webkit-transform 0.24s;
  transition: transform 0.24s;
  transition: transform 0.24s, -webkit-transform 0.24s;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
  float: right;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header:focus {
  outline: none;
}
.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
  padding-left: 12px;
}
.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
  padding: 12px 16px;
  padding-right: 40px;
}
.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  right: 16px;
  left: auto;
}
.ant-collapse-anim-active {
  -webkit-transition: height 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: height 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.ant-collapse-content {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  background-color: #fff;
  border-top: 1px solid #d9d9d9;
}
.ant-collapse-content > .ant-collapse-content-box {
  padding: 16px;
}
.ant-collapse-content-inactive {
  display: none;
}
.ant-collapse-item:last-child > .ant-collapse-content {
  border-radius: 0 0 2px 2px;
}
.ant-collapse-borderless {
  background-color: #fafafa;
  border: 0;
}
.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 1px solid #d9d9d9;
}
.ant-collapse-borderless > .ant-collapse-item:last-child,
.ant-collapse-borderless > .ant-collapse-item:last-child .ant-collapse-header {
  border-radius: 0;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
  background-color: transparent;
  border-top: 0;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 4px;
}
.ant-collapse-ghost {
  background-color: transparent;
  border: 0;
}
.ant-collapse-ghost > .ant-collapse-item {
  border-bottom: 0;
}
.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content {
  background-color: transparent;
  border-top: 0;
}
.ant-collapse-ghost > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 12px;
  padding-bottom: 12px;
}
.ant-collapse .ant-collapse-item-disabled > .ant-collapse-header,
.ant-collapse .ant-collapse-item-disabled > .ant-collapse-header > .arrow {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.ant-collapse-rtl {
  direction: rtl;
}
.ant-collapse-rtl .ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 12px 16px;
  padding-right: 40px;
}
.ant-collapse-rtl.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.ant-collapse-rtl.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
  float: left;
}
.ant-collapse-rtl.ant-collapse > .ant-collapse-item.ant-collapse-no-arrow > .ant-collapse-header {
  padding-right: 12px;
  padding-left: 0;
}

.light-me{position:relative}.light-me:after{content:"";position:absolute;z-index:-1;top:60%;left:-0.1em;right:-0.1em;bottom:0;transition:top 200ms cubic-bezier(0, 0.8, 0.13, 1);background-color:#ffdd2e}.light-me.green:after{background-color:rgba(79,192,141,0.5)}

