.notes{
  position: relative;
  top: 0;
  min-width: 30%;
  overflow: auto;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.5);
  //border-left: 1px dashed #fff;
  &.ispopup{
    position: absolute;
    top:0;
    z-index: 999;
    width: 100% !important;
    background: rgba(0,0,0,0.5);
  }
  .title{
    background: #fff;
    padding-left: 24px;
  }
  .content{
    //position: sticky;
    //top: 0;
    //background-image: url("/img/bg.png");
    padding: 12px 24px;
  }
  .empty-tip{
    border-radius: 6px;
    background: #fff;
    //border: 1px solid;
    //box-shadow: 3px -2px 0 1px #fddf06;
  }

  footer{
    margin: 12px;
    font-size: 12px;
    color: #999;
    svg{
      vertical-align: sub;
    }
  }
}

.notes-header{
  padding: 6px 12px;

  .selected-pages{
    background:#fff;
    padding:12px;
    .selected-item{
      cursor: pointer;
      display: inline-block;
      max-width: 120px;
      overflow: hidden;
      text-overflow: ellipsis;
      background: aliceblue;
      margin-right: 8px;
      padding: 2px 4px;
      border-radius: 4px;
      &.clean{
        color: #fff;
        background: #1e88e5;
      }
    }
  }
}


.page-header{
  display: flex;
  justify-content: space-between;
  .switchs{
    .context-switch{
      margin: 0 12px;
    }
  }
}


