/*global css*/
body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    font-size: 14px;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

body{
    font-size: 14px;
    background: #f9f9f9;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}
svg{
    vertical-align: middle;
}
a{
    color: #0366d6;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.pagenote {
  max-width: 800px;
  margin: 0 auto;
  padding-left: 36px;
}
.pagenote .header {
  min-height: 60px;
}
.pagenote .filter-labels {
  margin-bottom: 24px;
}
.pagenote section.new {
  max-width: 800px;
  max-height: 600px;
  /*padding: 12px;*/
  margin: 0 auto 24px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #c0d3eb;
}
.pagenote section .title {
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #f1f8ff;
  border-bottom: 1px solid #c0d3eb;
}
.pagenote .title, .pagenote .content {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
}
.pagenote .title .title-link {
  max-width: 80%;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-overflow: ellipsis;
}
.pagenote .title .author {
  position: absolute;
  left: -36px;
  width: 30px;
  height: 30px;
  top: 0;
}
.pagenote .lights {
  margin-bottom: 12px;
}
.pagenote .light {
  border-left: 4px solid #c0d3eb;
  padding-left: 12px;
  margin-top: 4px;
}
.pagenote .label {
  display: inline-block;
  margin-right: 12px;
  padding: 2px 4px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  border-radius: 2px;
  box-shadow: inset 0 -1px 0 rgba(27, 31, 35, 0.12);
}
.pagenote .label.active {
  border: 2px solid #333;
}
.pagenote .comments {
  margin-bottom: 12px;
  overflow: scroll;
  max-height: 200px;
  box-shadow: inset 0px -16px 5px 0px #efefef;
}
.pagenote .comments-icon {
  cursor: pointer;
}
@keyframes -xeYT58vRBaAEjoBct9mI {
  0%, 100% {
    height: 40px;
    background: lightgreen;
  }
  50% {
    height: 70px;
    margin: -15px 0;
    background: lightblue;
  }
}
.SApgLWLr3NutmoTFqwKnf {
  position: relative;
  /*top: 200px;*/
  width: 80px;
  height: 40px;
  margin: 0 auto;
}

.SApgLWLr3NutmoTFqwKnf span {
  display: inline-block;
  width: 8px;
  height: 100%;
  border-radius: 4px;
  background: lightgreen;
  animation: -xeYT58vRBaAEjoBct9mI 1s ease infinite;
}

.SApgLWLr3NutmoTFqwKnf span:nth-child(2) {
  animation-delay: 0.2s;
}

.SApgLWLr3NutmoTFqwKnf span:nth-child(3) {
  animation-delay: 0.4s;
}

.SApgLWLr3NutmoTFqwKnf span:nth-child(4) {
  animation-delay: 0.6s;
}

.SApgLWLr3NutmoTFqwKnf span:nth-child(5) {
  animation-delay: 0.8s;
}
