.release {
  padding-top: 12px;
  font-size: 14px;
  max-width: 800px;
  margin: 0 auto;
  color: #24292e; }
  .release .row {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline; }
  .release .version {
    border-top: 1px solid #e1e4e8;
    margin-top: 12px; }
    .release .version.latest {
      animation: shine 3s ease-in-out infinite; }
      .release .version.latest .brief {
        border: 1px solid #8BC34A; }
        .release .version.latest .brief img {
          max-width: 400px; }
  .release .version-tip {
    font-size: 12px;
    margin-top: 14px; }
  .release .col-3, .release .col-9 {
    padding: 12px; }
  .release .col-3 {
    width: 25%;
    min-width: 200px;
    flex-shrink: 0;
    box-sizing: border-box; }
  .release .version-number {
    font-size: 1.5em; }
  .release .col-9 {
    width: 75%;
    box-sizing: border-box;
    border-left: 1px solid #e1e4e8; }
  .release .brief {
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 4px;
    border: 1px solid gainsboro;
    border-top: 4px solid #8BC34A; }
    .release .brief img {
      max-width: 100%; }
  .release .install-btns {
    margin: 12px 0; }
  .release a.browser-install-btn {
    display: inline-block;
    margin-right: 12px;
    padding: 6px 20px;
    font-size: 1em;
    line-height: 20px;
    border-radius: 24px;
    box-shadow: 0 4px 10px 0 rgba(39, 43, 49, 0.2);
    background-color: #00bdb8;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    white-space: nowrap; }
    .release a.browser-install-btn.offline {
      background: #7e8281; }
    .release a.browser-install-btn.ee {
      background-color: #1976d2; }
  .release a.browser-install-btn.firefox {
    background-color: #FF5722; }
  .release .slogan {
    padding: 0 12px;
    font-size: 16px; }
  .release .functions {
    background: #f7f8fa;
    padding: 12px 32px;
    border-radius: 4px;
    border: 1px solid #d2d2d2;
    border-top: 4px solid #2196F3; }
  .release .functions li {
    margin-bottom: 12px; }
  .release .function-title {
    font-weight: 600; }
  .release .function-desc {
    color: #586069; }
  .release .more {
    color: #23527c;
    text-decoration: none; }
  @media screen and (max-width: 720px) {
    .release .row {
      display: flex; }
    .release .col-3, .release .col-9 {
      width: 100%;
      display: block; } }

@keyframes shine {
  0% { }
  100% { } }

.page-detail {
  position: relative;
  box-shadow: 0px 0px 3px 1px #eae6e6;
  margin-bottom: 12px;
  border-radius: 2px;
  background: #fff;
  padding: 12px 12px 12px 12px; }
  .page-detail:hover .side-bar {
    display: block; }
  .page-detail .side-bar {
    display: none;
    position: absolute;
    padding-left: 2px;
    right: -20px;
    width: 20px;
    min-height: 100px; }
    .page-detail .side-bar .delete-page-icon {
      cursor: pointer;
      border-radius: 20px;
      border: 1px solid #333;
      background: #fff; }
  .page-detail .category {
    display: inline-block;
    position: relative;
    margin-left: 24px;
    white-space: nowrap; }
    .page-detail .category .category-name {
      padding: 2px 10px;
      background-color: #ededed;
      border-radius: 20px; }
    .page-detail .category .setting-icon {
      vertical-align: middle;
      cursor: pointer; }
  .page-detail .date {
    display: inline-block; }
  .page-detail .page-header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #efefef;
    border-radius: 4px; }
    .page-detail .page-header:hover .delete-page-icon {
      display: block; }
    .page-detail .page-header .page-link {
      margin-bottom: 24px;
      font-weight: 500;
      white-space: pre-line;
      word-break: break-word; }
      .page-detail .page-header .page-link a {
        font-size: 12px;
        color: #268ebd;
        text-decoration: none; }
        .page-detail .page-header .page-link a:hover {
          color: #337ab7;
          text-decoration: underline; }
    .page-detail .page-header .meta-info {
      display: flex;
      font-size: 12px;
      color: #999; }
    .page-detail .page-header .page-header-meta {
      padding: 6px 12px; }
    .page-detail .page-header .page-img {
      position: relative;
      width: 140px;
      max-height: 200px;
      max-width: 35%;
      box-sizing: border-box; }
      .page-detail .page-header .page-img img {
        cursor: zoom-in;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        right: 0; }
  .page-detail .lights {
    margin: 12px 0; }
    .page-detail .lights .empty-lights {
      text-align: center;
      font-size: 12px;
      color: #666; }
    .page-detail .lights .light {
      padding: 8px;
      margin: 8px 0;
      border-radius: 4px; }
      .page-detail .lights .light:hover .refer .delete-icon {
        display: block; }
      .page-detail .lights .light .refer {
        position: relative;
        word-break: break-word;
        color: #646a73;
        border-left: 6px solid #bbbfc4;
        padding-left: 12px;
        font-size: 12px; }
        .page-detail .lights .light .refer .delete-icon {
          display: none;
          position: absolute;
          left: -24px;
          cursor: pointer; }
      .page-detail .lights .light .note {
        position: relative;
        font-size: 14px;
        color: #333;
        padding-left: 14px; }
        .page-detail .lights .light .note:hover .edit-icon {
          display: block; }
        .page-detail .lights .light .note .edit-icon {
          display: none;
          cursor: pointer; }
  .page-detail .snapshots {
    display: flex; }
    .page-detail .snapshots img {
      max-width: 100%;
      max-height: 200px;
      cursor: zoom-in; }
    .page-detail .snapshots .snapshot {
      position: relative;
      transition: all 0.2s ease-in; }
      .page-detail .snapshots .snapshot:hover {
        box-shadow: -1px -1px 6px 1px #dcdcdc; }
        .page-detail .snapshots .snapshot:hover .snapshot-tips {
          display: block; }
      .page-detail .snapshots .snapshot .snapshot-tips {
        display: none;
        width: 30px;
        background-color: #fff;
        text-align: center;
        margin: 0 auto;
        top: 4px;
        right: 4px;
        font-size: 12px;
        box-shadow: 0px 0px 4px 1px #efefef;
        border-radius: 12px;
        position: absolute; }
        .page-detail .snapshots .snapshot .snapshot-tips .delete-icon {
          margin: 0;
          cursor: pointer; }

.droplabel {
  display: none;
  position: absolute;
  right: 0;
  border-color: #e1e4e8;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  width: 230px;
  margin-top: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 12px;
  color: #586069;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px; }
  .droplabel.show {
    display: block;
    z-index: 9; }
  .droplabel .select-menu-header {
    padding: 8px 10px;
    line-height: 16px;
    background: #fff;
    border-bottom: 1px solid #e1e4e8; }
    .droplabel .select-menu-header .select-menu-title {
      font-weight: 600;
      color: #24292e; }
    .droplabel .select-menu-header .close-button {
      position: absolute;
      right: 4px;
      top: 4px;
      cursor: pointer; }
  .droplabel .select-menu-text-filter {
    position: relative;
    padding: 10px 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #dfe2e5; }
    .droplabel .select-menu-text-filter input {
      display: block;
      width: 100%;
      max-width: 100%;
      padding: 5px 12px;
      border: 1px solid #dfe2e5;
      border-radius: 6px;
      box-sizing: border-box; }
    .droplabel .select-menu-text-filter .new-button {
      padding: 0;
      position: absolute;
      right: 0;
      top: 14px;
      border: none;
      right: 20px;
      color: #fff;
      padding: 0 4px;
      background: #E91E63;
      border-radius: 2px;
      border: 1px solid #FFEB3B;
      z-index: 1;
      cursor: pointer; }
  .droplabel .select-menu-list {
    position: relative;
    max-height: 400px;
    overflow: auto;
    color: #586069; }
    .droplabel .select-menu-list .select-menu-item {
      display: block;
      padding: 8px 8px 8px 30px;
      overflow: hidden;
      color: inherit;
      cursor: pointer;
      border-bottom: 1px solid #eaecef; }
      .droplabel .select-menu-list .select-menu-item:hover {
        background-color: #f4f4f4; }
      .droplabel .select-menu-list .select-menu-item .select-menu-item-icon {
        vertical-align: middle;
        float: left;
        margin-left: -20px; }

._29_x_DLZO2YPH3wTS0HSX9 {
  display: inline-block;
  font-size: 14px;
  color: #2d0d0d;
  font-weight: normal;
  cursor: pointer; }
  ._29_x_DLZO2YPH3wTS0HSX9 .lfrJlmc-P25snrwbBPWKI {
    color: #337ab7; }
  ._29_x_DLZO2YPH3wTS0HSX9 ._10rSNr_6EV8Nq4F_x8Qxfy {
    z-index: 1;
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 4px 3px #e8e8e8; }
    ._29_x_DLZO2YPH3wTS0HSX9 ._10rSNr_6EV8Nq4F_x8Qxfy._3OS1FH97WjnYUTDZKmDGHT {
      display: none !important; }
    ._29_x_DLZO2YPH3wTS0HSX9 ._10rSNr_6EV8Nq4F_x8Qxfy ._1kqhtVuquz24l2T1nBIil8 {
      padding: 4px 12px; }
      ._29_x_DLZO2YPH3wTS0HSX9 ._10rSNr_6EV8Nq4F_x8Qxfy ._1kqhtVuquz24l2T1nBIil8:hover {
        background: #f1f1f1; }
  ._29_x_DLZO2YPH3wTS0HSX9:hover ._10rSNr_6EV8Nq4F_x8Qxfy {
    display: block; }

.page-item {
  position: relative;
  padding: 4px 8px;
  margin-bottom: 4px;
  cursor: default;
  transition: all 0.3s ease-out;
  background-position: right;
  background-size: auto 40px;
  background-repeat: no-repeat;
  color: #2e3135;
  box-sizing: border-box; }
  .page-item:last-child {
    margin-bottom: 0; }
  .page-item.active {
    border-left: 1px solid #eaeaea;
    border-radius: 6px;
    background-color: #f7f48b !important; }
    .page-item.active .page-cliper {
      color: #faad14; }
    .page-item.active .page-header {
      text-shadow: 1px 0px 1px #fff; }
  .page-item:hover {
    background: #f5f5f5;
    background-repeat: no-repeat; }
    .page-item:hover .page-header {
      text-shadow: 1px 0px 1px #fff; }
    .page-item:hover .page-header .snapshot-button {
      opacity: 1; }
    .page-item:hover .page-header .page-link {
      display: block; }
  .page-item .selected-icon {
    display: none;
    position: absolute;
    right: 0;
    top: 0; }
  .page-item .page-cliper {
    width: 24px;
    height: 12px;
    cursor: pointer;
    border-radius: 50%;
    border-top: solid 0px transparent;
    border-bottom: solid 4px currentColor;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
    position: absolute;
    right: -36px;
    top: 12px;
    color: rgba(247, 247, 247, 0.85); }
  .page-item .page-header {
    position: relative;
    font-weight: 500; }
    .page-item .page-header .page-title {
      font-size: 14px;
      max-width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: left center; }
      .page-item .page-header .page-title .page-icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-right: 4px; }
    .page-item .page-header .page-link {
      display: none;
      font-size: 13px;
      vertical-align: bottom;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #3e3e3e;
      position: absolute;
      right: 0px;
      top: 0; }
      .page-item .page-header .page-link .link {
        color: #337ab7; }
    .page-item .page-header .snapshot-button {
      opacity: 0;
      position: relative;
      cursor: pointer;
      white-space: nowrap;
      font-size: 12px;
      color: black;
      background: white; }
      .page-item .page-header .snapshot-button span {
        position: relative;
        color: black;
        background: #fff;
        display: block;
        padding: 0 2px;
        transform: translate(-2px, -2px);
        border: 1px solid;
        transition: all 0.3s ease-out; }
      .page-item .page-header .snapshot-button:hover span {
        transform: translate(0, 0); }
      .page-item .page-header .snapshot-button:before {
        content: '';
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        /* border: 2px solid #000; */
        background: #8837F3;
        display: block;
        position: absolute;
        left: 0;
        top: 0; }
  .page-item .page-lights {
    font-size: 12px; }
    .page-item .page-lights .page-light {
      line-height: 1em;
      margin-top: 6px;
      padding-left: 12px;
      border-left: 4px solid;
      margin-left: 20px;
      color: #afb2b5; }

@charset "UTF-8";
@font-face {
   {
    font-family: 'webfont';
    font-display: swap;
    src: url("//at.alicdn.com/t/webfont_m5o1yjkp7mk.eot");
    /* IE9*/
    src: url("//at.alicdn.com/t/webfont_m5o1yjkp7mk.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/webfont_m5o1yjkp7mk.woff2") format("woff2"), url("//at.alicdn.com/t/webfont_m5o1yjkp7mk.woff") format("woff"), url("//at.alicdn.com/t/webfont_m5o1yjkp7mk.ttf") format("truetype"), url("//at.alicdn.com/t/webfont_m5o1yjkp7mk.svg#思源黑体-正粗") format("svg");
    /* iOS 4.1- */ } }

body {
  margin: 0;
  font-family: webfont,'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; }

#bridge {
  display: none !important;
  width: 1px;
  overflow: hidden; }

svg {
  max-width: 100%;
  vertical-align: sub;
  margin-right: 4px; }

.pagenote-me {
  display: flex;
  margin: 4px auto; }

.me {
  position: relative;
  font-size: 14px;
  border-radius: 12px;
  user-select: unset; }

@media screen and (min-width: 1440px) {
  .me, .me-footer {
    margin: 2px auto 12px;
    width: 1200px; } }

.keyboard {
  border: 1px solid #e1e4e8;
  background: #fff;
  border-radius: 4px;
  box-shadow: 1px 1px 0px 0px #adadad;
  color: #404040; }

.empty-tip {
  text-align: center;
  font-size: 14px;
  padding: 32px;
  color: #333;
  line-height: 2em; }
  .empty-tip .search-keyword {
    background: #fff9c0;
    border-bottom: 2px solid #fddf06; }

.tabs {
  position: fixed;
  z-index: 0;
  left: 90px;
  top: 40px;
  max-height: 80vh; }
  .tabs .tab-item {
    line-height: 20px;
    background: #e2e2e2;
    font-weight: 500;
    position: relative;
    margin: 4px 0px;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: transform 0.3s ease-out;
    cursor: pointer;
    width: 100px;
    padding: 0 4px;
    border-radius: 6px 0 0 6px;
    cursor: pointer; }
    .tabs .tab-item:hover {
      transform: translateX(-12px); }
    .tabs .tab-item.active {
      transform: translateX(-34px);
      background: #f9e9cb;
      /* background: beige; */ }
    .tabs .tab-item.expand {
      display: block; }
    .tabs .tab-item.hide {
      animation: fade_out 1s forwards; }
    .tabs .tab-item .count {
      color: #000;
      font-size: 12px; }
  .tabs .page-items {
    border-top: 1px solid; }

.pages-and-detail {
  display: flex;
  box-sizing: border-box;
  min-height: 90vh;
  position: relative;
  border-radius: 12px; }
  .pages-and-detail.expand {
    flex-wrap: wrap; }
  .pages-and-detail .split-line {
    flex-shrink: 0;
    width: 2px;
    background: currentColor;
    cursor: col-resize;
    position: relative;
    z-index: 1;
    display: block;
    box-sizing: border-box; }
    .pages-and-detail .split-line:hover {
      border: 1px dashed red; }
      .pages-and-detail .split-line:hover .left, .pages-and-detail .split-line:hover .right {
        display: block; }
    .pages-and-detail .split-line .left, .pages-and-detail .split-line .right {
      display: none;
      color: #fff;
      background: #000;
      padding: 0 4px;
      position: absolute;
      cursor: pointer; }
    .pages-and-detail .split-line .left {
      top: 0;
      right: 0; }
    .pages-and-detail .split-line .right {
      bottom: 0;
      left: 0; }

.pages, .notes {
  position: relative;
  padding: 14px; }
  .pages .title, .notes .title {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
    display: flex;
    align-items: center; }
    .pages .title .logo-title, .notes .title .logo-title {
      background: #000;
      color: #fff;
      padding: 0 4px;
      transition: all 0.3s ease-out;
      text-decoration: none;
      white-space: nowrap; }
      .pages .title .logo-title:hover, .notes .title .logo-title:hover {
        box-shadow: 2px 2px 1px #fd2222; }
  .pages .search, .notes .search {
    margin-left: 5px;
    padding: 4px 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: 0.3s ease-out;
    background: #fff;
    width: 48px; }
    .pages .search:focus, .pages .search.active, .notes .search:focus, .notes .search.active {
      position: absolute;
      top: 0;
      left: 0;
      margin: 0;
      width: 100%; }
      .pages .search:focus + .clean-search, .pages .search.active + .clean-search, .notes .search:focus + .clean-search, .notes .search.active + .clean-search {
        display: block; }
  .pages .clean-search, .notes .clean-search {
    display: none;
    position: absolute;
    right: 12px;
    cursor: pointer; }
  .pages .group-type, .notes .group-type {
    display: inline-block;
    background: #fff;
    padding: 0 4px;
    white-space: nowrap; }

.pages {
  box-sizing: border-box;
  flex-shrink: 0;
  padding-bottom: 40px;
  border-right: none; }
  .pages .page-group {
    display: flex;
    margin-top: 12px; }
    .pages .page-group .page-container {
      transition: all 0.3s ease-out;
      transform: translate(0, 0);
      width: 100%;
      box-sizing: border-box; }
      .pages .page-group .page-container .group-container {
        padding: 4px 8px;
        margin-bottom: 10px;
        background: #fff;
        border-radius: 4px;
        box-sizing: border-box; }
        .pages .page-group .page-container .group-container.no-items {
          opacity: 0.5; }
        .pages .page-group .page-container .group-container .group-title {
          font-size: 16px;
          color: #000;
          font-weight: 500;
          position: sticky;
          top: 0;
          background: #fff;
          z-index: 1;
          padding: 4px 8px 4px 0;
          cursor: pointer; }
          .pages .page-group .page-container .group-container .group-title:hover {
            background: #fafafa; }
          .pages .page-group .page-container .group-container .group-title .group-title-name {
            border-left: 4px solid #52c41a;
            padding: 0 4px 0 12px;
            border-radius: 2px; }
            .pages .page-group .page-container .group-container .group-title .group-title-name .group-icon {
              cursor: pointer;
              transition: all 0.4s ease-in-out;
              vertical-align: sub;
              transform: rotate(90deg);
              position: absolute;
              right: 0; }
              .pages .page-group .page-container .group-container .group-title .group-title-name .group-icon.collapse {
                transform: rotate(0deg); }
          .pages .page-group .page-container .group-container .group-title .group-info {
            font-size: 12px;
            color: #999; }
        .pages .page-group .page-container .group-container .group-items {
          box-sizing: border-box;
          transition: 0.5s ease-out; }
        .pages .page-group .page-container .group-container .group-name {
          position: absolute;
          top: -22px;
          left: -1px;
          display: inline-block;
          border: 1px solid;
          border-bottom: none;
          line-height: 20px;
          border-radius: 4px 4px 0 0;
          padding: 0 12px;
          font-weight: 500; }
      .pages .page-group .page-container .grid-group {
        display: flex;
        justify-content: space-between; }
        .pages .page-group .page-container .grid-group .grid-group-col {
          width: 32%;
          padding-right: 10px;
          box-sizing: border-box; }
        .pages .page-group .page-container .grid-group .page-cliper {
          display: none; }
  .pages .action-tips {
    padding: 2px 12px;
    border-radius: 2px;
    font-size: 12px;
    position: absolute;
    bottom: 8px; }
  .pages .sort-icon {
    margin-left: 12px;
    cursor: pointer; }

.notes {
  position: relative;
  top: 0;
  min-width: 30%;
  flex-grow: 1;
  flex-shrink: 1;
  box-sizing: border-box; }
  .notes .content {
    position: sticky;
    top: 0; }
  .notes .empty-tip {
    border-radius: 6px;
    background: #fff; }

.me-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px; }
  .me-footer .footer-tips {
    font-size: 12px;
    color: #999; }
    .me-footer .footer-tips svg {
      vertical-align: sub; }

@media screen and (max-width: 720px) {
  .pages-and-detail {
    flex-wrap: wrap; }
  .pages, .notes {
    width: 100% !important;
    margin-left: 0;
    margin-bottom: 24px; }
  .pages .tab-item {
    width: calc(50% - 8px); }
  .pages .page-header {
    max-width: 320px; } }

@keyframes fade_out {
  0% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0.2; } }

@keyframes flipBook1 {
  0% {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(-160deg);
    -ms-transform: rotateY(-160deg);
    -o-transform: rotateY(-160deg);
    transform: rotateY(-160deg); } }

