.page-detail {
  box-shadow: 0px 0px 6px 3px #eae6e6;
  margin: 6px 6px 16px;
  padding: 12px;
  border-radius: 2px; }
  .page-detail .category {
    display: inline-block;
    position: relative;
    margin-left: 24px; }
    .page-detail .category .category-name {
      padding: 2px 10px;
      background: antiquewhite;
      background-color: #ededed;
      border-radius: 20px; }
    .page-detail .category .setting-icon {
      vertical-align: middle;
      cursor: pointer; }
  .page-detail .date {
    display: inline-block; }
  .page-detail .page-header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #efefef;
    border-radius: 4px; }
    .page-detail .page-header .page-link {
      max-width: 480px;
      margin-bottom: 24px;
      font-weight: 500; }
      .page-detail .page-header .page-link a {
        color: #101010;
        text-decoration: none; }
        .page-detail .page-header .page-link a:hover {
          color: #337ab7;
          text-decoration: underline; }
    .page-detail .page-header .meta-info {
      font-size: 12px;
      color: #999; }
    .page-detail .page-header .page-header-meta {
      padding: 6px 12px; }
    .page-detail .page-header .snapshot-img {
      width: 140px;
      box-sizing: border-box; }
      .page-detail .page-header .snapshot-img img {
        cursor: zoom-in;
        max-width: 100%; }
  .page-detail .light {
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px; }
    .page-detail .light .refer {
      word-break: break-word;
      color: #646a73;
      border-left: 6px solid #bbbfc4;
      padding-left: 12px;
      font-size: 12px; }
    .page-detail .light .note {
      font-size: 14px;
      color: #333;
      padding-left: 14px; }

.droplabel {
  display: none;
  position: absolute;
  right: 0;
  border-color: #e1e4e8;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  width: 230px;
  margin-top: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 12px;
  color: #586069;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px; }
  .droplabel.show {
    display: block; }
  .droplabel .select-menu-header {
    padding: 8px 10px;
    line-height: 16px;
    background: #fff;
    border-bottom: 1px solid #e1e4e8; }
    .droplabel .select-menu-header .select-menu-title {
      font-weight: 600;
      color: #24292e; }
    .droplabel .select-menu-header .close-button {
      position: absolute;
      right: 4px;
      top: 4px;
      cursor: pointer; }
  .droplabel .select-menu-text-filter {
    position: relative;
    padding: 10px 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #dfe2e5; }
    .droplabel .select-menu-text-filter input {
      display: block;
      width: 100%;
      max-width: 100%;
      padding: 5px 12px;
      border: 1px solid #dfe2e5;
      border-radius: 6px;
      box-sizing: border-box; }
    .droplabel .select-menu-text-filter .new-button {
      padding: 0;
      position: absolute;
      right: 0;
      top: 14px;
      border: none;
      right: 20px;
      color: #fff;
      padding: 0 4px;
      background: #E91E63;
      border-radius: 2px;
      border: 1px solid #FFEB3B;
      z-index: 1;
      cursor: pointer; }
  .droplabel .select-menu-list {
    position: relative;
    max-height: 400px;
    overflow: auto;
    color: #586069; }
    .droplabel .select-menu-list .select-menu-item {
      display: block;
      padding: 8px 8px 8px 30px;
      overflow: hidden;
      color: inherit;
      cursor: pointer;
      border-bottom: 1px solid #eaecef; }
      .droplabel .select-menu-list .select-menu-item:hover {
        background-color: #f4f4f4; }
      .droplabel .select-menu-list .select-menu-item .select-menu-item-icon {
        vertical-align: middle;
        float: left;
        margin-left: -20px; }

._29_x_DLZO2YPH3wTS0HSX9 {
  display: inline-block;
  font-size: 14px;
  color: #333333;
  font-weight: normal;
  cursor: pointer; }
  ._29_x_DLZO2YPH3wTS0HSX9 .lfrJlmc-P25snrwbBPWKI {
    color: #337ab7; }
  ._29_x_DLZO2YPH3wTS0HSX9 ._10rSNr_6EV8Nq4F_x8Qxfy {
    z-index: 1;
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 4px 3px #e8e8e8; }
    ._29_x_DLZO2YPH3wTS0HSX9 ._10rSNr_6EV8Nq4F_x8Qxfy._3OS1FH97WjnYUTDZKmDGHT {
      display: none !important; }
    ._29_x_DLZO2YPH3wTS0HSX9 ._10rSNr_6EV8Nq4F_x8Qxfy ._1kqhtVuquz24l2T1nBIil8 {
      padding: 4px 12px; }
      ._29_x_DLZO2YPH3wTS0HSX9 ._10rSNr_6EV8Nq4F_x8Qxfy ._1kqhtVuquz24l2T1nBIil8:hover {
        background: #f1f1f1; }
  ._29_x_DLZO2YPH3wTS0HSX9:hover ._10rSNr_6EV8Nq4F_x8Qxfy {
    display: block; }

.page-item {
  padding: 4px 8px;
  margin-bottom: 4px;
  cursor: default;
  transition: all 0.3s ease-out;
  position: relative; }
  .page-item.active {
    border: 1px solid #eaeaea;
    border-radius: 6px; }
    .page-item.active .selected-icon {
      display: block; }
  .page-item:hover {
    background: #f5f5f5; }
    .page-item:hover .page-header .snapshot-button {
      opacity: 1; }
    .page-item:hover .page-header .page-link {
      display: block; }
  .page-item .selected-icon {
    display: none;
    position: absolute;
    right: 0;
    top: 0; }
  .page-item .page-header {
    position: relative;
    margin-bottom: 2px; }
    .page-item .page-header .page-title {
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #24292e;
      font-weight: 500;
      background-repeat: no-repeat;
      background-size: 14px 14px;
      background-position: left center;
      text-decoration: none; }
      .page-item .page-header .page-title .page-icon {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: baseline;
        margin-right: 4px; }
    .page-item .page-header .page-link {
      display: none;
      font-size: 13px;
      vertical-align: bottom;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #3e3e3e;
      position: absolute;
      right: 0;
      top: 0; }
      .page-item .page-header .page-link .link {
        color: #337ab7; }
    .page-item .page-header .snapshot-button {
      opacity: 0;
      position: relative;
      cursor: pointer;
      white-space: nowrap;
      font-size: 12px;
      color: black;
      background: white; }
      .page-item .page-header .snapshot-button span {
        position: relative;
        color: black;
        background: #fff;
        display: block;
        padding: 0 2px;
        transform: translate(-2px, -2px);
        border: 1px solid;
        transition: all 0.3s ease-out; }
      .page-item .page-header .snapshot-button:hover span {
        transform: translate(0, 0); }
      .page-item .page-header .snapshot-button:before {
        content: '';
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        /* border: 2px solid #000; */
        background: #8837F3;
        display: block;
        position: absolute;
        left: 0;
        top: 0; }
  .page-item .page-lights {
    font-size: 12px; }
    .page-item .page-lights .page-light {
      padding-left: 14px;
      border-left: 4px solid;
      margin-left: 20px;
      color: #666; }

.icon {
  vertical-align: top;
  margin-right: 4px; }

#bridge {
  display: none !important;
  width: 1px;
  overflow: hidden; }

.me {
  margin: 24px auto 0;
  font-size: 14px; }

@media screen and (min-width: 1440px) {
  .me {
    width: 1280px; } }

.empty-tip {
  text-align: center;
  font-size: 14px;
  padding: 32px;
  margin: 12px 12px 12px 0; }

.pages-and-detail {
  display: flex; }

.pages {
  width: 50%;
  min-width: 400px;
  flex-shrink: 0; }
  .pages .page-group {
    position: relative;
    margin-top: 12px; }
    .pages .page-group .tabs {
      position: sticky;
      top: 12px;
      background: #fff; }
      .pages .page-group .tabs .tab-item {
        display: inline-block;
        line-height: 20px;
        background: #f3f3f3;
        padding: 0 12px;
        font-weight: 500;
        position: relative;
        margin: 4px;
        width: calc(20% - 8px);
        box-sizing: border-box;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: transform 0.3s ease-out;
        cursor: pointer; }
        .pages .page-group .tabs .tab-item:hover {
          transform: translate(-6px, -6px);
          box-shadow: 2px 2px 0px 0px #673AB7; }
        .pages .page-group .tabs .tab-item.active {
          transform: translateY(-7px);
          background: #f5f5f5;
          box-shadow: -1px -1px 0px 1px #fddf06;
          /* background: beige; */
          border-color: #F44336; }
        .pages .page-group .tabs .tab-item.expand {
          display: block; }
        .pages .page-group .tabs .tab-item.hide {
          animation: fade_out 1s forwards; }
        .pages .page-group .tabs .tab-item .count {
          display: inline-block;
          color: #fff;
          font-size: 12px;
          position: absolute;
          right: 4px;
          top: 0;
          text-shadow: 1px 1px 1px #000; }
      .pages .page-group .tabs .page-items {
        border-top: 1px solid; }
    .pages .page-group .page-container {
      background: #fff;
      border: 1px solid #5a5a5a;
      padding: 8px;
      transition: all 0.3s ease-out;
      transform: translate(0, 0);
      box-shadow: 3px 3px 0px 0px #fddf06; }
      .pages .page-group .page-container .group-name {
        position: absolute;
        top: -22px;
        left: -1px;
        display: inline-block;
        border: 1px solid;
        border-bottom: none;
        line-height: 20px;
        border-radius: 4px 4px 0 0;
        padding: 0 12px;
        font-weight: 500; }
      .pages .page-group .page-container .search-keyword {
        background: #fff9c0;
        border-bottom: 2px solid #fddf06; }

.notes {
  position: sticky;
  top: 0;
  width: 50%;
  margin-left: 20px; }
  .notes .empty-tip {
    border: 1px solid;
    box-shadow: 3px -2px 0 1px #fddf06; }

.pages .title, .notes .title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px; }
  .pages .title .logo-title, .notes .title .logo-title {
    background: #000;
    color: #fff;
    padding: 0 4px;
    box-shadow: 2px 2px 1px #fd2222;
    transition: all 0.3s ease-out; }
    .pages .title .logo-title:hover, .notes .title .logo-title:hover {
      box-shadow: none; }

.pages .search, .notes .search {
  width: 100%;
  padding: 12px;
  box-sizing: border-box; }

.pages .group-type, .notes .group-type {
  display: inline-block;
  margin-left: 12px; }

@keyframes fade_out {
  0% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    opacity: 0.2; } }

